/* Icon Redes Sociales */
.icon.icon-facebook { color: #213553; }
.icon.icon-facebook:hover, .icon.icon-facebook:focus { color: #121e2f; }
.icon.icon-twitter { color: #3aa8db; }
.icon.icon-twitter:hover, .icon.icon-twitter:focus { color: #238ebf; }
.icon.icon-google-plus { color: #d04f3e; }
.icon.icon-google-plus:hover, .icon.icon-google-plus:focus { color: #b03a2b; }
.icon.icon-behance { color: #1882ff; }
.icon.icon-behance:hover, .icon.icon-behance:focus { color: #0069e4; }
.icon.icon-paypal { color: #253b80 ; }
.icon.icon-paypal:hover, .icon.icon-paypal:focus { color: #1e3169 !important; }
.icon.icon-dribbble { color: #e95aae; }
.icon.icon-dribbble:hover, .icon.icon-dribbble:focus { color: #e32d98; }
.icon.icon-flickr { color: #f9429c; }
.icon.icon-flickr:hover, .icon.icon-flickr:focus { color: #f71182; }
.icon.icon-instagram { color: #4f86ac; }
.icon.icon-instagram:hover, .icon.icon-instagram:focus { color: #3f6b89; }
.icon.icon-linkedin { color: #008bc2; }
.icon.icon-linkedin:hover, .icon.icon-linkedin:focus { color: #00668f; }
.icon.icon-pinterest { color: #cb1f24; }
.icon.icon-pinterest:hover, .icon.icon-pinterest:focus { color: #9f181c; }
.icon.icon-skype { color: #00bef4; }
.icon.icon-skype:hover, .icon.icon-skype:focus { color: #0096c1; }
.icon.icon-slack { color: #44ba97; }
.icon.icon-slack:hover, .icon.icon-slack:focus { color: #369579; }
.icon.icon-tumblr { color: #435971; }
.icon.icon-tumblr:hover, .icon.icon-tumblr:focus { color: #304051; }
.icon.icon-vimeo { color: #0bc4ef; }
.icon.icon-vimeo:hover, .icon.icon-vimeo:focus { color: #099cbe; }
.icon.icon-vine { color: #00be9b; }
.icon.icon-vine:hover, .icon.icon-vine:focus { color: #008b71; }
.icon.icon-youtube { color: #ed4533; }
.icon.icon-youtube:hover, .icon.icon-youtube:focus { color: #da2613; }
.icon.icon-gitlab { color: #e78d17; }
.icon.icon-gitlab:hover, .icon.icon-gitlab:focus { color: #da8413; }
.icon.icon-github { color: #333; }
.icon.icon-github:hover, .icon.icon-github:focus { color: #111; }
.icon.icon-hover { -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }