.boxVideoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background: $dark-color;
  border-radius: $border-radius - 2px;
  overflow: hidden;
  margin-top: .5rem;

  &__video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &__loader {
    position: absolute;
    top: .8rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    height: 20px;
    border-radius: $border-radius - 4px;
    padding: 2px;
    overflow: hidden;
    background: $white-color;

    .cargando {
      position: relative;
      display: block;
      width: 0%;
      height: 100%;
      border-radius: $border-radius - 4px;
      background: $vet-first-color;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 35%;
        background: rgba(#000, .1);
      }
    }

    .porcentaje {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: .95rem;
      color: rgba($text-color, .8);
      z-index: $z-normal; 
    }
  }
}

.boxSubirVideo {
  width: 100%;
  margin-top: .5rem;
  background: #eeeeee;
  border-radius: $border-radius - 2px;
  padding: .5rem;

  .btn-app.__upload {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -ms-max-content;
    width: -o-max-content;
    width: max-content;
    background: $human-second-color;
    color: $white-color;

    &:hover {
      background: $human-second-color-alt;
    }
  }

  &__title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: $text-color;
    letter-spacing: 0.02rem;
    padding: 0 .3rem;
  }
}