
body {
    background: #f7f7f7;
}

.splashScreen,
.login,
.register,
.requestPass,
.home,
.listVet,
.listHuman,
.boxApp,
.notification,
.perfil,
.changePass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-normal;
}

.login.__loginPanel {
    padding-top: 0;
    background-image: url("../image/bg-default.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: $z-fixed;

    &::before {
        content: "";
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(#000, .7);
    }
}

.boxLogo {
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    background: url(../image/bg-default.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, .5);
        z-index: $z-normal;
    }

    &__image {
        position: relative;
        width: 40%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center center;
        object-position: center center;
        z-index: $z-normal;
    }
}

.login {
    padding-top: 40px;
}

.register {
    padding-top: 50px;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.changePass {
    margin-top: 40px;
    height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);

    .boxForm {
        padding-top: 1rem;
    }
}

.splashScreen {
    &__image {
        width: 40%;
    }

    &__copyright {
        position: absolute;
        left: 50%;
        bottom: 1.5rem;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        font-size: .65rem;
        white-space: pre;
        text-transform: uppercase;
        font-weight: bold;
        color: $text-color;
        opacity: .65;
    }
}

.home__content {
    position: relative;
    width: 100vw;
    height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    margin-top: 40px;
    overflow-y: auto;
    overflow-x: hidden;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .boxOption {
        width: 100%;
        height: calc(100% / 2);
        color: $white-color;
        cursor: pointer;

        &__icon {
            font-size: 8rem;
            margin: 0;
        }

        &__title {
            font-size: 1.2rem;
            text-transform: uppercase;
            padding-top: 1rem;
            margin: 0;
        }
    }

    .boxOption.__vet {
        background: -webkit-linear-gradient(
            $vet-first-color,
            $vet-second-color
        );
        background: -moz-linear-gradient(
            $vet-first-color,
            $vet-second-color
        );
        background: -o-linear-gradient(
            $vet-first-color,
            $vet-second-color
        );
        background: linear-gradient(
            $vet-first-color,
            $vet-second-color
        );
    }
    .boxOption.__human {
        background: -webkit-linear-gradient(
            $human-first-color,
            $human-second-color
        );
        background: -moz-linear-gradient(
            $human-first-color,
            $human-second-color
        );
        background: -o-linear-gradient(
            $human-first-color,
            $human-second-color
        );
        background: linear-gradient(
            $human-first-color,
            $human-second-color
        );
    }
}

.boxList {
    width: 100vw;
    height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    margin-top: 40px;

    &__list {
        padding: 0 .3rem .3rem;

        &:first-child {
            padding-top: .3rem;
        }
        &:last-child {
            padding-bottom: .3rem;
        }
    }

    &__link {
        position: relative;
        display: block;
        width: 100%;
        padding: .7rem;
        text-decoration: none;
        background: $white-color;
        color: $text-color;
        border: 1px solid $border-color;
        border-radius: $border-radius - 2px;
        font-size: 1.2rem;
        font-weight: bold;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1.4rem + .7rem;

        .ICONO {
            position: absolute;
            top: 50%;
            right: .7rem;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 1.5rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__subList {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: -ms-max-content;
        height: -o-max-content;
        height: max-content;
        background: $white-color;
        margin: .3rem 0 0;
        border: 1px solid $border-color;
        border-radius: $border-radius - 2px;
        padding: .7rem !important;
        display: none;

        .boxList__data {
            width: 100%;

            .data-image {
                img {
                    display: block;
                    width: 120px;
                    height: 120px;
                    margin: 0;
                    padding: 0;
                    border-radius: $border-radius;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: top center;
                    object-position: top center;
                    background: #eee;
                }

                .data-especialidad {
                    margin: 0;
                    padding: .5rem 0 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 0.02rem;
                }
            }
        }

        .data-name {
            p {
                margin: 0;
                padding-bottom: .5rem;
                font-size: .95rem;
                font-weight: bold;
                opacity: .85;
            }
        }
    }
}

.boxList.__home {
    height: calc(100vh - (40px  + 36px + .3rem));
    max-height: calc(100vh - (40px  + 36px + .3rem));
    margin-top: 0;
}

.boxList__link.__active ~ .boxList__subList {
    display: block;
}

.boxList--boxItem {
    width: 100%;
    max-height: calc(100vh - 82px);
    overflow-y: auto;     
    overflow-x: hidden;
}

.boxList.__home .boxList--boxItem {
    max-height: 100%;
}

.boxList.__home .boxList--boxItem .boxList__list {
    .ICONO {
        &::after {
            content: "EN LINEA";
            position: absolute;
            top: 50%;
            left: calc(-100% - 2rem);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: .65rem;
            line-height: .6rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            margin: 0;
            letter-spacing: 0.02rem;
        }
    }
}

.boxList.__home .boxList--boxItem .boxList__link {
    padding-right: 6.1rem;
}

.boxFilter {
    padding: .3rem .3rem 0;
    
    .btn-app {
        background: $human-second-color;
        color: $white-color;

        &:hover {
            background: $human-second-color-alt;
        }
    }

    &__filtros {
        width: 100%;
        padding: .7rem;
        background: $white-color;
    }
}

.boxList__nav.__vet .boxList__link span {
    color: $vet-second-color;
}

.boxList__nav.__vet .boxList__subList .btn-app {
    background: $vet-second-color;
    color: $white-color;
    cursor: pointer;

    &:hover, &:active {
        background: $vet-second-color-alt;
    }
}

.boxList__nav.__human .boxList__link span {
    color: $human-second-color;
}

.boxList__nav.__human .boxList__subList .btn-app {
    background: $human-second-color;
    color: $white-color;
    cursor: pointer;

    &:hover, &:active {
        background: $human-second-color-alt;
    }
}

.boxContentRow {
    position: relative;
    width: 80%;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    @media only screen and (max-width: 992px) {
        width: 100%;
        margin-top: 40px;
        height: calc(100% - 40px);
        max-height: calc(100vh - 40px);
    }
}

.boxTitle {
    width: 100%;
    text-align: center;
    background: $white-color;
    border-bottom: 2px solid $human-second-color;

    .__title {
        font-size: 2.5rem;
        margin: 0;
        color: $text-color;
        padding: .3rem 0;
        text-transform: uppercase;
    }
}

.boxTools {
    margin-top: 1rem;

    h4 {
        font-size: 1.5rem;
        font-weight: normal;
        color: $text-color;
        opacity: .75;
        padding-bottom: .5rem;
        border-bottom: 1px solid $border-color;
        margin: .5rem 0 0;
    }
}

.buttonToListCategory {
    width: 100%;
    height: 120px;
    padding: .5rem;
    background: #eeeeee;

    a {
        position: relative;
        display: block;
        width: calc(100% / 2);
        height: 100%;
        border-radius: $border-radius - 2px;
        border: 1px solid $border-color;
        overflow: hidden;

        &:first-child {
            margin-right: .25rem;
        }

        &:last-child {
            margin-left: .25rem;
        }

        &:first-child {
            background: $white-color url('../image/bgVet.jpg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($vet-second-color, .65);
            }
        }
        
        &:last-child {
            background: url('../image/bgHuman.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($human-second-color, .65);
            }
        }
    }

    &__item {
        width: 100%;
        height: 100%;

        .title {
            margin: 0;
            font-size: .95rem !important;
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 0.02rem !important;
            text-transform: uppercase;
            text-shadow: 1px 1px 2px rgba($dark-color, .55) !important;
            z-index: $z-normal;
        }
    }
}

.boxStar {
    width: 100%;
    padding-bottom: .5rem;

    &__item {
        font-size: 1.3rem;
        margin: 0 .3rem;
        color: $border-color;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__item.__punto {
        color: #e7cb2a;
    }
}

.notification {
    padding-top: 40px;
}

.boxListNotification {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.boxList__nav.__listUser .boxList__list .boxList__link {
    display: flex;
    align-items: flex-start;

    img.fotoPerfil {
        width: 50px;
        height: 50px;
        border-radius: $border-radius - 2px;
        background: #eeeeee;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top center;
        object-position: top center;
        overflow: hidden;
    }

    .data {
        padding-left: .7rem;
        width: calc(100% - 40px - .7rem);
        
        &__precing {
            width: 100%;
            background: #f7f7f7;
            padding: .3rem;
            border-radius: $border-radius - 2px;
            border: 1px solid $border-color;

            > p {
                font-size: .85rem;
                font-weight: normal;
                color: $text-color;
                opacity: .85;

                span.fa {
                    display: inline-flex;
                    justify-content: center;
                    align-content: center;
                    font-size: .95rem;
                    width: 20px;
                }

                span.cant {
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }

        p {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
        }

        .name {
            font-size: 1.1rem;
            font-weight: bold;
            color: $text-color;
            opacity: 1;
        }
        
        .especialidad {
            font-size: .85rem;
            text-transform: uppercase;
            letter-spacing: 0.02rem;
            color: $text-color;
            opacity: .7;
        }

        .punto {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: -ms-max-content;
            width: -o-max-content;
            width: max-content;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            position: absolute;
            right: .7rem;
            bottom: .5rem;
            font-size: 1.1rem;
            color: $text-color;
            font-weight: normal !important;

            span {
                line-height: 0;
                font-size: .9rem;
                color: #f1c32b;
                margin-top: 1px;
                margin-left: -.2rem;
            }
        }
    }

    .ICONO {
        top: .7rem;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        color: $vet-second-color;
    }
}

.home__content .splashScreen__copyright {
    position: relative;
    left: 0;
    transform: translate(0, 0);
    // background: $dark-color;
    // color: $white-color;
    display: block;
    width: 100%;
    padding: .5rem;
    bottom: 0;
    margin: 0;
    font-size: .8rem;
    text-align: center;
}

.perfil {
    padding-top: 40px;

    .boxBtnPerfil {
        width: 100%;
        margin-top: 1rem;

        .btn-app {
            line-height: 1.1 !important;
            margin-left: .5rem !important;

            &:first-child {
                margin-left: 0 !important;
            }
        }
    }

    .btn-app.__changeImage,
    .btn-app.__changePass {
        display: inline-block;
        padding: .7rem 1rem;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: -ms-max-content;
        width: -o-max-content;
        width: max-content;
        letter-spacing: 0.02rem;
        font-size: .85rem;
    }

    .btn-app.__changePass {
        background: $human-second-color;
        color: $white-color;

        &:hover {
            background: $human-second-color-alt;
        }
    }

    .editProcfile {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        color: $text-color;
        cursor: pointer;
    }

    &__content {
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        
        @media only screen and (min-width: 767px) {
            min-height: 100%;
            max-height: initial;
            overflow: initial;
            margin-bottom: 1rem;
        }

        div.title {
            width: 100%;
            border-bottom: 1px solid $border-color;
            margin: 0 0 .5rem;

            p {
                width: max-content;
                margin: 0 auto;
                background: #eeeeee;
                font-size: 1.1rem;
                font-weight: bold;
                padding: .3rem .5rem;
                border-radius: $border-radius - 2px;
                margin-bottom: .5rem;
                color: $text-color;
                text-align: center;
            }
        }

        .boxDataPerson {
            &__img {
                position: relative;
                width: 100%;
                margin: 1rem 0;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: $border-radius - 2px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: top center;
                    object-position: top center;
                    overflow: hidden;
                    background: #eeeeee;
                    border: 1px solid $border-color;
                }
            }

            &__data {
                p {
                    margin: 0 0 .5rem;
                    padding: .7rem;
                    background: #f9f9f9;
                    font-weight: normal;
                    font-size: .95rem;
                    letter-spacing: 0.02rem;
                    color: $text-color;
                    border-radius: $border-radius - 2px;
                    border-top-left-radius: 0;
                    border: 1px solid $vet-second-color;

                    span.title {
                        font-size: .85rem !important;
                        text-transform: uppercase;
                        color: $vet-second-color;
                    }

                    i {
                        font-size: .7rem;
                        b.cant {
                            font-size: 1rem;
                            color: $human-second-color;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__newContent {
        .boxSection {
            width: 100%;
        }

        .boxSection.__starEdit {
            height: 48px;
            background: #eeeeee;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: $border-color;
            border-top-left-radius: $border-radius - 2px;
            border-bottom-left-radius: $border-radius - 2px;
            
            a {
                line-height: 0;
            }

            a > span {
                font-size: 1.35rem;
                color: $text-color;
                margin-right: .5rem;
                cursor: pointer;
            }

            p.punto {
                margin: 0;
                font-size: 1.35rem;
                color: $text-color;

                span.fa {
                    color: #f1c32b;
                }
            }
        }
    }
}

.btn-app.__changeImage {
    background: $vet-first-color;
    color: $white-color;

    &:hover {
        background: $vet-first-color-alt;
    }
}

.boxImagePerfil {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
        object-position: top center;
        border-radius: $border-radius - 2px;
        background: #eeeeee;
        border: 1px solid $border-color;
    }
}

.boxData {
    width: 100%;
    padding: 0 0 0 .7rem;

    p.nameDoctor {
        width: 100%;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 0.02rem;
        color: $text-color;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p.biografia {
        font-size: .95rem;
        color: $text-color;
        background: #eeeeee;
        padding: .5rem;
        border-radius: $border-radius - 2px;

        span {
            color: $vet-second-color;
            font-size: .95rem !important;
            font-weight: bold;
            letter-spacing: 0.02rem;
        }
    }
}

.boxContentTabs {
    width: 100%;
    min-height: 200px;
    margin-top: 1rem;
    border-radius: $border-radius - 2px;
    border: 1px solid $border-color;
    background: $white-color;
    padding: .7rem !important;

    .boxDataPerson__data {
        p > .titleIcon {
            font-size: 1rem;
            color: $vet-second-color;
            width: 20px;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}

.home.__vet {
    .btn-app.__filter {
        background: $vet-second-color;
        color: $white-color;

        &:hover {
            background: $vet-second-color-alt;
        }
    }
}

.home.__human {
    .boxList__nav.__listUser .boxList__list .boxList__link .ICONO {
        color: $human-second-color;
    }
}

.agendaDoctor {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    padding: .5rem;
}

.btnPrecing {
    position: absolute;
    top: 50%;
    right: -2.5rem;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;

    span.fa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: $border-radius - 2px;
        font-size: 1.2rem;
        color: $white-color;
        background: $human-second-color;
        cursor: pointer;
    }
}

.boxSection {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: -ms-max-content;
    height: -o-max-content;
    height: max-content;
    padding: .5rem;

    .boxArticulo {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: -ms-max-content;
        height: -o-max-content;
        height: max-content;
        background: $white-color;

        border-radius: $border-radius - 2px;
        border: 1px solid $border-color;

        padding: .5rem;
        margin-bottom: .5rem;

        .title {
            margin: 0;
            font-size: .85rem;
            text-transform: uppercase;
            color: $text-color;
            letter-spacing: 0.02rem;
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid $border-color;
            padding-bottom: .35rem;
            margin-bottom: .35rem;
        }

        .descrip {
            font-size: .95rem;
            color: $text-color;
            opacity: .8;
        }

        .verMas {
            display: inline-block;
            border-radius: $border-radius - 2px;
            font-size: .95rem;
            background: #eeeeee;
            color: $human-second-color;
            padding: .3rem .7rem;
            font-weight: bold;
            margin: .35rem 50% 0;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: -ms-max-content;
            width: -o-max-content;
            width: max-content;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.boxEvento {
    position: relative;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: -o-max-content;
    height: max-content;
    background: #eeeeee;
    border-radius: $border-radius - 2px;
    margin-bottom: 1rem;
    padding: .5rem;

    .boxTools {
        position: absolute;
        top: .5rem;
        right: .5rem;
        margin: 0;
        z-index: $z-tooltip;

        .iconTools {
            color: $text-color;
            margin-right: .45rem;
            cursor: pointer;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .iconTools.__edit {
            color: $human-first-color;
        }
    
        .iconTools.__del {
            color: $alert-color;
        }
        
        .iconTools.__ver {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: #848442;

            .fa {
                padding-top: .05rem;
            }

            .count {
                font-size: .75rem;
                padding-left: .1rem;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        width: 100%;
        height: 1px;
        background: $border-color;
    }

    &:last-child {
        margin-bottom: 0;

        &::before {
            display: none;
        }
    }

    p {
        margin: 0;
        color: $text-color;
    }

    &__nameDoctor {
        font-size: .95rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    &__title {
        font-size: .75rem;
        text-transform: uppercase;
        width: 100%;
        background: $white-color;
        border-radius: $border-radius - 2px;
        padding: .2rem .3rem;
        margin: .2rem 0;
    }

    &__descrip {
        font-size: .75rem;
    }

    &__dataTime {
        display: inline-block;
        padding: .2rem .5rem;
        border-radius: 50px;
        background: $human-first-color;
        color: $white-color !important;
        font-size: .7rem;
        margin: .3rem 0 0;
    }

    &__dataTime.__vet {
        background: $vet-first-color !important;
    }

    &__precing {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        font-size: .9rem;
        color: $vet-first-color !important;
    }

    &__precing.__human {
        color: $human-first-color !important;
    }
}

.boxImagePreview {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center center;
    padding: 0;
    z-index: initial;
    transition: all .15s .2s ease-in-out;
}

.boxImagePreview.__show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    z-index: $z-fixed + 500;
}

.cortina {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .9);
    transform-origin: center bottom 0;
    transform: scale(1);
    opacity: 0;
    z-index: $z-back;

    transition: opacity .45s ease-in-out;
    transition: z-index .4s ease-in-out;
    transition: transform .5s .2s ease-in-out;
}

.cortina.__show {
    transform-origin: center bottom 0;
    transform: scale(1);
    opacity: 1;
    z-index: $z-fixed;
}

.cerrarImageIcon {
    position: fixed;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    color: $white-color;
    cursor: pointer;
    z-index: initial;
    display: none;
}

.cerrarImageIcon.__show {
    display: block;
    z-index: $z-fixed + 500;
}


.boxHeader {
    width: 100%;
    padding: .3rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $vet-first-color;
    border-radius: $border-radius - 2px;
    margin-bottom: .5rem;

    p {
        color: $white-color;
        font-size: 1rem;
    }

    span {
        color: $white-color;
        font-size: 1.8rem;
    }
}

.usuariosInscriptos {
    width: 100%;
    height: max-content;
    padding: .5rem;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    background: $white-color;
    border-radius: $border-radius - 2px;
    border: 1px solid $border-color;
    margin-bottom: .35rem; 

    .boxImage {
        width: 25px;
        height: 25px;
        border-radius: $border-radius - 2px;
        overflow: hidden;
        background: #eeeeee;

        img {
            display: block;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            border-radius: $border-radius - 2px;
            border: 1px solid $border-color;
            background: #eeeeee;
        }
    }

    .boxData {
        width: calc(100% - 25px);
        height: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            display: block !important;
            font-size: .85rem !important;
            font-weight: normal !important;
            text-transform: uppercase !important;
            width: 100% !important;
            height: max-content;
            overflow: hidden !important;
            white-space: pre !important;
            text-overflow: ellipsis !important;
        }
    }
}

.boxModalInscrito.__human {
    .boxHeader {
        background: $human-first-color;
    }
}